{% extends 'portal/base.html' %}
{% load static %}


{% block title %}Edit Profile{% endblock title %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
<div class="edit-profile-container">
    <h1>Edit Your Profile</h1>
    <form method="POST" enctype="multipart/form-data" class="edit-profile-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="phone_number">Phone Number</label>
            <input type="text" name="phone_number" id="phone_number" value="{{ user.studentprofile.phone_number }}" required>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea name="address" id="address" rows="4" required>{{ user.studentprofile.address }}</textarea>
        </div>
        <div class="form-group">
            <label for="profile_picture">Profile Picture</label>
            <input type="file" name="profile_picture" id="profile_picture">
        </div>
        {% if user.studentprofile.profile_picture %}
        <div class="current-pic">
            <p>Current Picture:</p>
            <img src="{{ user.studentprofile.imageURL }}" alt="Current Profile Picture">
        </div>
        {% endif %}
        <button type="submit" class="save-btn">Save Changes</button>
    </form>
</div>
{% endblock content %}
